
.content {
  background-color: #fff;
  padding-top: 120px;
}

.Audio-list{
  padding: 19px;
  border: solid 1px #cdcdcd;
}
.card {
  float: left;
  margin: 10px;
  box-shadow: 10px 10px 5px 0px rgba(219,219,219,1);
}
.row {
  justify-content: center;
}

.card.bg-primary {
  background-color: #a6dcef !important;
}

.card-body {
  color: #3B5957;
  background-color: #66bed8;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.card-text {
  font-style: italic;
}

.card-header {
  background-color: #a3d8e7;
  border-bottom: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
