body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: snow;
  color: white;
  height: 95px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0;
  box-shadow: 0px 8px 5px -4px rgba(153,153,153,1);
}

.App-header svg {
  height: inherit;
  display: block;
  padding:10px;
  margin:0 auto;
}

.header-items {
  display:flex;
  justify-content: center;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: flex-end;
}
.nav li {
  list-style: none;
  padding: 10px;
  width: 150px;
}

nav li a.link-active {
  border-bottom: solid #e36387;
  background: linear-gradient(0deg,#ddf3f5 1%, rgba(117,184,251,0) 100%);
  padding: 10px;
}

.left-nav {
  color: #000;
}

.right-nav {
  color: #000;
}